h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.input1 {
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}
.label1 {
  margin-left: -3.5rem;
}
.input2 {
  margin-left: 1rem;
}
